<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>DisBot Web Interface - Common Topics/Concepts Page</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<style>
		table, th, td {
			border: 1px solid black
		}
	</style>
</head>
<body>
	<section>
		<h1>Common Topics/Concepts</h1>
		<table>
			<tr>
				<th>Topic/Concept</th>
				<th>Count</th>
			</tr>
			{% for topic in topics %}
			<tr>
				<td>{{ topic[0] }}</td>
				<td>{{ topic[1] }}</td>
			</tr>
			{% endfor %}
		</table>
		</br>
		<p><img src="{{graph}}"></p>
	</section>
</body>
</html>


