<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>DisBot Web Interface - View Strikes Page</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<style>
		table, th, td {
			border: 1px solid black
		}
	</style>
</head>
<body>
	<section>
		<h1>List of Users and Strikes</h1>
		<table>
			<tr>
				<th>User</th>
				<th>Strikes</th>
			</tr>
			{% for row in rows %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
			</tr>
			{% endfor %}
		</table>
		</br>
		<img src="{{graph}}">
	</section>
</body>
</html>


